<div class="minavemax single-row">
  <div class="row-fluid">
    <div class="span6">
      <span class="label" title="Total">Total</span>
    </div>
    <div class="default-value value-size-medium span6">
      {{data.totValue}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <span class="label" title="Minimum">Minimum</span>
    </div>
    <div class="default-value value-size-medium span6">
      {{data.minValue}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <span class="label" title="Average">Average</span>
    </div>
    <div class="default-value value-size-medium span6">
      {{data.aveValue}}
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <span class="label" title="Maximum">Maximum</span>
    </div>
    <div class="default-value value-size-medium span6">
      {{data.maxValue}}
    </div>
  </div>
</div>
